body {
	width: 98dvw;
	height: 98dvh;
	display: flex;
	flex-direction: column;
}

.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-grow: 1;
}

.row-container {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
}

.square {
	flex-grow: 1;
	flex-shrink: 1;
}

.painted {
	background-color: black;
}
